body {
  margin: 0px;
}

.nav {
  background-color: rgb(0, 60, 255);
  padding: 2%;
  display: flex;
  justify-content: right;
  gap: 2%;
}

.nav .nav_links {
  display: block;
  color: white;
}

#burger-btn {
  display: none;
}

#burger-btn {
  background-color: red;
  width: 30px;
  height: 30px;
   position: relative;
}

#burger-btn > div {
  position: absolute;
  height: 3px;
  width: 100%;
}

#burger-btn :nth-child(1) {
  background-color: yellow;
  top: 0px;
}

#burger-btn :nth-child(2) {
  background-color: aqua;
  /* fix second-bar to exact center --> (height burger-container/2) - (height second-bar/2) */
  top: 13.5px;
}

#burger-btn :nth-child(3) {
  background-color: blueviolet;
  bottom: 0;
}

#burger-btn:hover {
  cursor: pointer;
}

#content {
  padding: 5%;
  padding-top: 2%;
}

#content p:first-of-type {
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .nav #burger-btn {
    display: block;
  }
  .nav {
    flex-direction: column;
    gap: 10px;
  }
  .nav .nav_links {
    display: none;
  }

}
